<!DOCTYPE html>
<html lang="es">
  <head>
  	<!-- Include the default theme -->
<link rel="stylesheet" href="SCEditor/minified/themes/default.min.css" /> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
        Plantilla en MVC, con BOOTSTRAP 3
      {% endblock %}
    </title>
 
    <!-- CSS de Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    
    <section class="container">
      
      <header>
      {% block encabezado %}
        <h1>Hola desde el encabezado de las entradas</h1>
        <hr>
      {% endblock %}
      </header>

      <nav>
        <a href="index.html">Ver Productos</a>
        -
        <a href="blog.html">Blog</a>
         -
        <a href="categorias.html">Ver Categorías</a>
        -
        <a href="centros-deportivos.html">Ver Centros Deportivos</a>
        -
        <a href="monumentos.html">Monumentos</a>
      </nav>
      
      <section>
        <header>
          <h2>
          {% block titulo_contenido %}
              Seccion de 
          {% endblock %}
          </h2>
        </header>
        <section>
        {% block contenido %}
          AQUI VA EL CONTENIDO
        {% endblock %}
        </section>
      </section>

      <footer>
      {% block pie %}
        <hr>
        <h4>Todos los derechos reservados</h4>
      {% endblock %}
      </footer>

    </section>
    
    <!-- Librería jQuery requerida por los plugins de JavaScript -->
    <script src="js/jquery-3.3.1.min.js"></script>
 
    <!-- Todos los plugins JavaScript de Bootstrap -->
    <script src="js/bootstrap.min.js"></script>


  <!--<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea' });</script>-->




<!-- Include the editors JS -->
<script src="SCEditor/minified/sceditor.min.js"></script>

<!-- Include the BBCode or XHTML formats -->
<script src="SCEditor/minified/formats/bbcode.min.js"></script>
<script src="SCEditor/languages/es.js"></script>


<script>
var textarea = document.getElementById('descripcion');
sceditor.create(textarea, {
	format: 'bbcode',
	style: 'SCEditor/minified/themes/content/default.min.css'
});
</script>

  </body>
</html>